* {
	--main-blue: #0f0f44;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: whitesmoke;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
	width: 100%;
	height: 8vh;
	position: fixed;
	top: 0;
	background-color: #1f20222d;
}

.nav-bar {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

.nav-item {
	list-style-type: none;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	color: #9ca6b8;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-logo {
	height: 5vh;
	width: auto;
}

.content-section {
	display: flex;
	width: 100%;
	height: 100vh;
	padding-top: 8vh;
	justify-content: center;
	align-items: center;
}

#about {
	display: grid;
	grid-template-areas: 'left left right';
}

#about > .left {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: left;
}

#about > .right {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: right;
}

#about > .right > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	border-radius: 5px;
	border: 2px solid black;
	width: 75%;
	padding: 25% 10%;
}

#about > .right > div > * {
	padding: 0;
	margin-bottom: 20px;
}
.btn {
	font: 10px;
	text-decoration: none;
	background-color: #3f3ea5;
	color: #ffffff;
	padding: 5px 10px;
	border: 2px solid black;
	border-radius: 3px;
}

.btn:hover {
	border: 1px solid black;
	color: black;
}

.full-logo {
	width: 50%;
	height: auto;
}
.notification {
	padding-top: 9vh;
	text-align: center;
	width: 100%;
	height: 4vh;
}

.market-page {
	width: 100%;
	height: 100vh;
	padding-top: 8vh;
	display: grid;
	grid-template-areas:
		'search search total'
		'card card total'
		'card card chart'
		'card card chart'
		'card card chart'
		'card card chart';
}

.search-container {
	grid-area: search;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-container {
	grid-area: card;
	display: flex;
	justify-content: center;
	align-items: center;
}

.totals-container {
	grid-area: total;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.card-container {
	grid-area: card;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px; /* even spacing using grid-gap, You can use percentage values if you want*/
	padding: 10px;
}

.chart-container {
	grid-area: chart;
	display: flex;
	justify-content: center;
	align-items: center;
}

.crypto-card {
	margin: auto;
	padding: 10px;
	display: grid;
	grid-template-areas:
		'name name image'
		'hr hr hr'
		'price price price'
		'market market market'
		'change change change';
	width: 150px;
	height: 150px;
	border: 2px solid black;
	cursor: pointer;
}

.crypto-card > * {
	margin: 0;
	padding: 0;
}

.crypto-card > h5 {
	grid-area: name;
}

.crypto-card > img {
	grid-area: image;
	width: 15px;
	height: 15px;
}

.crypto-card > hr {
	grid-area: hr;
}

.crypto-card > #price {
	grid-area: price;
}

.crypto-card > #market {
	grid-area: market;
}

.crypto-card > #change {
	grid-area: change;
}

.crypto-card > p {
	font-size: small;
}

/*-- Exchange --*/

/* Send eth */
#exchange_cont {
	margin-top: 20%;
}

.exchange_filters {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.exchange_filter {
	flex-basis: 50%;
	flex-grow: 1;
	background-color: #ccc;
	color: rgb(112, 112, 112);
	text-align: center;
	font-size: 0.75em;
	padding: 0.5em;
	margin: 0 0 0.1em;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 15px;
}
.exchange_filter:hover {
	background-color: hsl(0, 0%, 36%);
	color: white;
}

.exchange_filter.is-active {
	background-color: var(--main-blue);
	color: white;
}

.exchange_button {
	background-color: var(--main-blue);
	width: 100%;
	color: white;
}
.exchange_button:hover {
	border: 2px solid black;
	color: white;
}

/* Swap Crypto */

#swap_form {
	padding: 20px;
}
.chain_filters {
	margin-bottom: 10px;
}
.swapbox {
	overflow: auto;
	background-color: gray;
	border: 1px solid #565656;
	border-radius: 5px;
	width: 100%;
}
.swapbox_select {
	width: 50%;
	float: left;
}
.token_select {
	height: 40px;
}
.token_select:hover {
	background-color: rgb(85, 85, 85);
	cursor: pointer;
}
.token_list_img {
	width: 40px;
}
.token_row {
	padding: 5px 10px;
}
.token_row:hover {
	background-color: gray;
	cursor: pointer;
}
.token_image {
	width: 40px;
}
/* Modal */
.modal_body {
	height: 400px;
	overflow: scroll;
}

/* Log pages */
.logPage {
	display: flex;
	justify-content: center;
}
.logContainer {
	margin-top: 15vh;
	text-align: center;
	border: 1px solid black;
	padding: 10px;
	width: 50%;
	border-radius: 10px;
}
.logSubmit {
	margin-top: 10px;
	width: 120px;
}
.logSubmit:hover {
	border: 2px solid black;
	color: white;
}
.logLabels {
	font-size: 14px;
	margin-top: 20px;
}
