* {
	--main-blue: #0f0f44;
	--gray-element: #dbdada;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: whitesmoke;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* ScrollBar */
::-webkit-scrollbar {
	width: 8px;
	cursor: pointer !important;
}
::-webkit-scrollbar-track {
	background-color: rgb(214, 213, 213);
	border-radius: 15px;
	cursor: pointer !important;
}
::-webkit-scrollbar-thumb {
	background-color: #979797;
	border-radius: 15px;
	cursor: pointer !important;
}
::-webkit-scrollbar-thumb:hover {
	cursor: pointer !important;
}

nav {
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	background-color: rgb(218, 218, 218);
	z-index: 2;
}

footer {
	position: fixed;
	height: 30px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: rgb(218, 218, 218);
	z-index: 2;
}

footer > ul {
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

.nav-bar {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

.nav-item {
	list-style-type: none;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	color: #9ca6b8;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-logo {
	height: 40px;
	width: auto;
}

.content-section {
	display: flex;
	width: 100%;
	height: 100vh;
	padding-top: 8vh;
	justify-content: center;
	align-items: center;
}
#about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'left right';
}
@media (max-width: 400px) {
	#about {
		grid-template-areas: 'left' 'right';
	}
}
#about > .left {
	display: flex;
	align-items: center;
	justify-content: center;
	grid-area: left;
}
#about > .right {
	grid-area: right;
}
#about_cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--gray-element);
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	padding: 10px;
	border-radius: 5px;
	width: 70%;
	padding: 40px;
}
#about_cont_title {
	margin-bottom: 15px;
}
#logo_text {
	width: 190px;
	margin-bottom: 15px;
}
.btn {
	font: 10px;
	background-color: hsl(240, 55%, 26%);
	color: #ffffff;
	border: 2px solid black;
	border-radius: 3px;
}
.btn:hover {
	border: 2px solid black;
	color: white;
	background-color: hsl(240, 70%, 40%);
}
.full-logo {
	width: 300px;
	height: auto;
}
#about_button {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}
#about_button span {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
#about_button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
#about_button:hover span {
	padding-right: 25px;
}

#about_button:hover span:after {
	opacity: 1;
	right: 0;
}

.notification {
	padding-top: 9vh;
	text-align: center;
	width: 100%;
	height: 4vh;
}
.market-page {
	width: 100%;
	margin-top: 9vh;
	height: 91vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.data-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 100%;
	height: 35vh;
}

.search-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 4vh;
	width: 100%;
}

.search-container>input {
	width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.totals-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 25vh;
	border: .5px solid #ccc;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

.totals-container>p {
	text-align: center; 
	font-size: 12px;
}

.card-container {
	width: 75%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px; /* even spacing using grid-gap, You can use percentage values if you want*/
	padding: 10px;
	height: 47vh;
	overflow-y: scroll;
}
@media screen and (max-width: 1200px){
	.card-container {
		grid-template-columns: repeat(4, 1fr);
	}
}
@media screen and (max-width: 900px){
	.card-container {
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 700px){
	.card-container {
		width: 100%;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (max-width: 550px){
	.card-container {
		width: 100%;
		grid-template-columns: repeat(2, 1fr);
	}
}


.card-container::-webkit-scrollbar {
	width: 5px;
}

.card-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.card-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.chart-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 35vh;
	margin-right: 20px;
	padding: 0;
	margin: 0;
	
}

.selectTimeframe {
	display: flex;
	flex-direction: column;
	height: 35vh;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin-right: 30px;
}

.selectTimeframe > li {
	margin: 10px;
	font-size: small;
}

.selectTimeframe > li > button {
	background-color: hsl(204, 63%, 59%);
	border: .5px solid rgba(0, 0, 0, 0.158);
	width: 40px;
	border-radius: 10px;
	color: white;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

.selectTimeframe > li > button:hover {
	border: .5px solid rgb(0, 0, 0);
}

.clicked {
	color: black !important;
}

#selectedCoin {
	width: 100%;
	color: black;
	text-align: center;
}

/*-- Exchange --*/

/* Send eth */
#exchange_cont {
	margin-top: 90px;
}
.exchange_filters {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.exchange_filter {
	flex-basis: 50%;
	flex-grow: 1;
	background-color: rgb(189, 189, 189);
	color: rgb(112, 112, 112);
	text-align: center;
	font-size: 0.75em;
	padding: 0.5em;
	margin: 0 0 0.1em;
	letter-spacing: 0.3em;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 15px;
}
.exchange_filter:hover {
	background-color: hsl(0, 0%, 36%);
	color: white;
}
.exchange_button {
	width: 100%;
	border-radius: 5px;
	color: white;
}
.exchange_filter.is-active {
	background-color: var(--main-blue);
	color: white;
}
#connect_wallet {
	display: flex;
	justify-content: center;
}
.connect_wallet_button {
	margin-top: 50vh;
}
.exchange_app {
	width: 350px;
	padding: 20px;
	background-color: var(--gray-element);
	border-radius: 10px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#send_form {
	margin: 10px 0;
}
.send_form_field {
	margin-bottom: 1px;
}
.sendLoader {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}
/* Swap Crypto */

.chain_filters {
	margin-top: 10px;
}
#swap_bookmark {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 100%;
}
#swap_bookmark_text {
	font-size: 13px;
}
.swapforms {
	overflow: hidden;
	background-color: rgb(156, 156, 156);
	border: 1px solid #565656;
	border-radius: 5px;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.swapbox_select {
	width: 50%;
	float: left;
}
.token_select {
	height: 40px;
}
.token_select_label {
	align-items: center;
}
#to_token_select,
#from_token_select {
	border-radius: 5px;
}
.swapform_top {
	margin-bottom: 1px;
}
.token_select:hover {
	background-color: hsl(0, 0%, 36%);
	cursor: pointer;
	color: rgb(235, 235, 235);
}
.token_list_img {
	width: 40px;
}
.token_row {
	padding: 5px 10px;
}
.token_row:hover {
	background-color: gray;
	cursor: pointer;
}
.token_image {
	width: 40px;
}
#swap_fees_cont {
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#swap_fees {
	font-size: 13px;
}
/* Modal */
.modal_body {
	height: 400px;
	overflow: scroll;
	overflow-x: hidden;
}
#searchModal {
	position: sticky;
	top: 0;
}

/* Log pages */
.logPage {
	display: flex;
	justify-content: center;
}
.logContainer {
	margin-top: 90px;
	text-align: center;
	background-color: var(--gray-element);
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	padding: 10px;
	width: 30%;
	border-radius: 10px;
}
.logSubmit {
	margin-top: 10px;
	width: 120px;
}
.logSubmit:hover {
	border: 2px solid black;
	color: white;
}
.logLabels {
	font-size: 14px;
	margin-top: 20px;
}

/* Bookmarks */
.bookmarks-page {
	margin-top: 50px;
}
/* Cards */
#card_image {
	width: 100%;
	cursor: pointer;
	transition: all 0.3s ease-in-out 0s;
}
.circle-tile {
	text-align: center;
	margin-bottom: 5px;
	flex: 0 0 auto;
}
.scrolling-wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	cursor: grab;
}
.scrolling-wrapper::-webkit-scrollbar {
	display: none;
}
.circle-tile-image-cont {
	border-radius: 100%;
	color: #ffffff;
	margin: 0 auto -30px;
	position: relative;
	width: 60px;
	height: 60px;
	background-color: whitesmoke;
}

.circle-tile-heading {
	display: flex;
	justify-content: center;
	width: 130px;
}
.circle-tile-image:hover {
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
}
.circle-tile-content {
	padding-top: 28px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	border-radius: 5px;
	width: 130px;
}
.circle-tile-title {
	font-size: 22px;
	text-transform: uppercase;
}
.circle-tile-footer {
	background-color: rgba(0, 0, 0, 0.1);
	display: block;
	padding: 5px;
	font-size: 13px;
	transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	cursor: pointer;
}
.card-num {
	font-size: 12px;
}
.card-num-label {
	font-size: 14px;
	font-weight: 500;
}
#fav {
	filter: invert(1);
}
